/* import-tax-calculator.css */

.container {
	max-width: 1000px;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	/* background-color: #FFE5DA; */
	background-color: #FFFFFF;
}

.categories {
	max-width: 800px;
	margin: 50px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	/* background-color: #FFE5DA; */
	background-color: #ffffffa4;
}

body {
	font-family: 'Kanit', sans-serif;
	margin: 0;
	padding: 0;
	/* background-color: #ddcac2; */
	background-color: #000000;
}

/* ul {
	list-style-type: none;
	padding: 0;
}

span {
	font-weight: bold;
	margin-right: 5px;
} */

label {
	display: inline;
	margin-bottom: 10px;
}

/* input {
	width: 30%;
	padding: 8px;
	margin-bottom: 15px;
} */

/* button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: inline-block;
} */

#result {
	margin-top: 20px;
}

/* Button for Category! */
.button-category {
	
	--b: 3px;   /* border thickness */
	--s: .45em; /* size of the corner */
	--color: #373B44;

	width: 250px;
	padding: calc(.5em + var(--s)) calc(.9em + var(--s));
	color: var(--color);
	--_p: var(--s);
	background:
		conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
		var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
	transition: .3s linear, color 0s, background-color 0s;
	outline: var(--b) solid #0000;
	outline-offset: .6em;
	-webkit-text-stroke: 1px black; /* Width and color of the text border */
	font-size: 16px;
	font-family: 'Kanit', sans-serif;

	border: 0;

	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	display: inline-block;
}

.button-category:hover ,.button-89:focus-visible{
	--_p: 0px;
	outline-color: var(--color);
	outline-offset: .05em;
}

.button-category:active {
	background: var(--color);
	color: #fff;
}

.button-category.active,
.button-category:hover {
	--_p: 0px;
	outline-color: var(--color);
	outline-offset: .05em;
	background-color: #72b572;
}

/* Detail Input*/

.inputBox {
	position: relative;
	display: inline;
	width: 25%;
}

.inputBox input {
	padding: 15px 20px;
	outline: none;
	background: transparent;
	border-radius: 5px;
	/* color: #212121; */
	color: #000000;
	border: 1px solid#212121;
	font-size: 1em;
	font-family: 'Kanit', sans-serif;
}

.inputBox span {
	position: absolute;
	left: 0;
	font-size: 0.7em;
	transform: translateX(14px) translateY(-7.5px);
	padding: 0 6px 1px 5px;
	border-radius: 2px;
	/* background: #d8c4c4; */
	background: #000000;
	letter-spacing: 1px;
	border: 1px solid #212121;
	/* color: #212121; */
	color: #ffffffc3;
}

/* Result Input*/

.inputBox-Result {
	position: relative;
	display: inline;
	width: 25%;
}

.inputBox-Result input {
	padding: 20px 20px;
	outline: none;
	background: transparent;
	/* background-color: #e28adf; */
	border-radius: 5px;
	/* color: #212121; */
	color: #000000;
	border: 1px solid#212121;
	font-size: 1em;
	font-family: 'Kanit', sans-serif;
	-webkit-text-stroke: 1.3px black; /* Width and color of the text border */
}

.inputBox-Result span {
	position: absolute;
	left: 0;
	font-size: 0.7em;
	transform: translateX(14px) translateY(-7.5px);
	padding: 0 6px 1px 5px;
	border-radius: 2px;
	/* background: #d8c4c4; */
	background: #000000;
	letter-spacing: 1px;
	border: 1px solid #212121;
	/* color: #212121; */
	color: white;
}

/* Button Template */
.button-50 {
	appearance: button;
	background-color: #000;
	background-image: none;
	border: 1px solid #000;
	border-radius: 4px;
	box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Kanit', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin: 0 5px 10px 0;
	overflow: visible;
	padding: 12px 40px;
	text-align: center;
	text-transform: none;
	touch-action: manipulation;
	user-select: none;
	-webkit-user-select: none;
	vertical-align: middle;
	white-space: nowrap;
}

.button-50:focus {
	text-decoration: none;
}

.button-50:hover {
	text-decoration: none;
}

.button-50:active {
	box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
	outline: 0;
}

.button-50:not([disabled]):active {
	box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
	transform: translate(2px, 2px);
}

@media (min-width: 768px) {
	.button-50 {
		padding: 12px 50px;
	}
}

:root {
	--primary: 237, 94%, 81%;
	--background: 266, 16%, 92%;
	--background-secondary: 256, 12%, 12%;
	--background-secondary-dark: 256, 10%, 10%;
	--background-secondary-light: 257, 11%, 16%;
	--text-primary: 0, 0%, 0%;
	--black: 0, 0%, 0%;
	--white: 0, 0%, 100%;
	--quite-gray: 0, 0%, 50%;
	--grooble: 10, 28%, 93%;
	--heading-large: 5.6rem;
	--heading-medium: 3.6rem;
	--heading-small: 2.4rem;
	--paragraph: 1.11rem;
	--navbar-buttons: 2.4rem;
	--transition-main: .175, .685, .32;
	--font-main: "Poppins";
}

form {
	margin: 0;
}
fieldset {
	margin: 0;
	padding: .5em 0;
	border: none;
}
input {
	padding: .8em 1.2em;
	font-size: var(--paragraph);
	background-color: hsl(var(--grooble));
	border: 2px solid hsl(var(--grooble));
	outline: none;
}
textarea {
	padding: .8em 1.2em;
	font-size: var(--paragraph);
	font-family: var(--font-main);
	background-color: hsl(var(--grooble));
	border: 2px solid hsl(var(--grooble));
	outline: none;
}
input, textarea {
	transition: all .2s ease-in-out;
}
input:hover, input:focus, textarea:hover, textarea:focus {
	box-shadow:
			0 0 0 2px hsl(var(--black)),
			0 0 0 3px hsl(var(--white));
	border: 2px solid transparent;
}
select {
	padding: .8em 1.2em;
	border: 1px solid hsl(var(--black));
	font-size: var(--paragraph);
	outline: none;
}

/* Navigation Bar */
*,*:before,*:after {
	box-sizing: border-box;
}

:after {
	content: "";
}

section {
	position: relative;
	left: 100px;
}

nav {
	float: left;
	position: relative;
	top: 0;
	left: 0;
	background: transparent;
}

nav ul {
	text-align: center;
}

nav ul li {
	position: relative;
	width: 70px;
	cursor: pointer;
	background: #333; /* Black background */
	text-transform: uppercase;
	transition: all .4s ease-out;
}

nav ul li:after {
	position: absolute;
	background: white;
	color: #333; /* Black color */
	top: 0;
	left: 70px;
	width: 70px;
	height: 100%;
	opacity: .5;
	transform: perspective(400px) rotateY(90deg);
	transform-origin: 0 100%;
	transition: all .4s ease-out;
}

nav ul li:nth-child(1):after { 
	content: "Home";
	line-height: 88px;
}
nav ul li:nth-child(2):after { 
	content: "About";
	line-height: 88px;
}
nav ul li:nth-child(3):after { 
	content: "Work";
	line-height: 85px;
}
nav ul li:nth-child(4):after { 
	line-height: 70px;
	content: "Say hi";
}

nav ul li:hover {
	transform: translateX(-70px);
}

nav ul li:hover:after {
	opacity: 1;
	transform: perspective(400px) rotateY(0deg) scale(1);
}

nav ul li > div {
	display: inline-block;
	padding: 25px 0;
	background: transparent;
}

nav ul li div { position: relative; }

.roof {
	width: 0;
	height: 0;
	top:2px;
	border-style: solid;
	border-width: 0 21px 15px 21px;
	border-color: transparent transparent #ffffff transparent;
}

.roof-edge {
	position: absolute;
	z-index: 20;
	left: -17px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 17px 12px 17px;
	border-color: transparent transparent rgb(115, 115, 115) transparent;
}
/*white triangle over red triangle*/
.roof-edge:after {
	position: absolute;
	left: -14.5px;
	top: 3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 14.5px 10px 14.5px;
	border-color: transparent transparent white transparent;
}

.front {
	position: relative;
	top: 3px;
	width: 28.5px;
	height: 20px;
	margin: 0 auto;
	background: white;
}
/*door*/
.front:after {
	position: absolute;
	background: rgb(115, 115, 115);
	width: 11px;
	height: 13px;
	bottom: 0;
	left:9px;
}

/*/// About me ////*/

.head {
	width: 32px;
	height: 35px;
	background: white;
	border-radius:8px;
}
/*mouth*/
.head:after {
	width: 4px;
	height: 10px;
	background: white;
	position: absolute;
	border-radius:4px 0 0 4px;
	top:21px;
	left: 14px;
	transform:rotate(270deg);
}

.eyes {
	width: 8px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 5px;
	background: rgb(115, 115, 115);
}
/*right eye*/
.eyes:after {
	width: 8px;
	height: 5px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 14px;
	background: rgb(115, 115, 115);
}

.beard {
	width: 32px;
	height: 17px;
	background: rgb(115, 115, 115);
	border:2px solid white;
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius:0 0 8px 8px;
}
/*nose*/
.beard:after {
	position: absolute;
	top:-2px;
	left: 11px;
	background: white;
	width:6px;
	height: 4px;
	border-left:1px solid rgb(0, 0, 0);
	border-right:1px solid rgb(0, 0, 0);
}
